*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Le body est un conteneur flex */
body {
    display: flex;
    flex-direction: column; /* Alignement vertical */
    min-height: 100%; /* Le body occupe toute la hauteur disponible */
}

/* Le contenu prend l'espace restant */
.main-content {
    background-color: #eff4fc;
    padding: 40px;
    flex: 1;
    color: #333;
}

#retour {
    background-color: #1C3447;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

#retour:hover {
    background-color: #F9725F;
}

.formulaire {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 25px;
    margin: 30px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.formulaire form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-weight: 500;
    font-size: 14px;
    color: #1C3447;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #1C3447;
    outline: none;
}

input[type="submit"] {
    background-color: #F9725F;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1C3447;
}

.tableau {
    margin-top: 40px;
}

table {
    width: 35%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    text-align: left;
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
}

th {
    background-color: #1C3447;
    color: white;
    font-weight: 500;
}

tr:hover {
    background-color: #f5f5f5;
}

#edit{
    background-color: #2b4b66;
    color: white;
    border: none;
    padding: 5px;
    width: 50px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

#delete{
    background-color: #f04c4c;
    color: white;
    border: none;
    padding: 5px;
    width: 50px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}